.tabs__control{
    display: flex;
    justify-content: space-between;
    padding: 13px 22px;
    margin-left: auto;
    max-width: 285px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 12px;    
}

.tabs__btn{
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
    background-color: transparent;
    border-width: 0;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;        
}

.tabs__btn_active {
    border-bottom: 2px solid #fff;
}

.tabs__content{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.tabs__item{
    display: none;
}

.tabs__item_active{
    display: block;
}

@media (max-width: 1000px){
    .tabs__control{
        padding: 16px 38px;
        margin-bottom: 10px;
    }
}

@media (max-width: 850px){
    .tabs__control{
        padding: 16px 46px;
        margin-bottom: 32px;
    }
    .tabs__content{
        flex-wrap: wrap;
    }
    .tabs__content_video{
        row-gap: 50px;
    }
    .tabs__content_photo{
        row-gap: 30px;
    }
    .tabs__content_product{
        row-gap: 35px;
    }
}

@media (max-width: 480px){
    .tabs__control{
        margin-left: 0;
        margin-right: auto;
        max-width: 220px;
        padding: 10px 30px;
        margin-bottom: 20px;
    }
}

@media (max-width: 320px){
    .tabs__control{
        max-width: 220px;
        padding: 10px 30px;        
        margin-bottom: 10px;
        
    }
}
